<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand">SI PENDUDUK</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/penduduk/mati">Ubah
							Status Kematian Penduduk</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<center>
		<h3>Welcome To Tutorial 6 APAP</h3>
	</center>
</body>
</html>